@model ShoppingCart

<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <h5 class="mb-3">
                                    <a class="text-body" asp-area="" asp-controller="Products" asp-action="Index">
                                        <i class="fas fa-long-arrow-alt-left me-2"></i>Tiếp tục mua sắm
                                    </a>
                                </h5>
                                <hr>
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-0">Bạn có @Model.Items.Count sản phẩm trong giỏ hàng</p>
                                    </div>
                                </div>
                                @foreach (var item in Model.Items)
                                {
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <div>
                                                        <img src="@item.ImageUrl" class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                    </div>
                                                    <div class="ms-3">
                                                        <h5>@item.Name</h5>
                                                        <p class="small mb-0">Onyx Black</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-row align-items-center justify-content-between">
                                                    <form method="post" asp-action="UpdateQuantity" class="d-flex align-items-center me-3">
                                                        <input type="hidden" name="productId" value="@item.ProductId" />
                                                        <div class="input-group">
                                                            <input type="number" name="quantity" value="@item.Quantity" min="0" step="@item.Unit" class="form-control form-control-sm me-2 transparent-input" style="width: 70px; border: none;" /> gram
                                                        </div>
                                                        <button type="submit" class="btn btn-primary btn-sm me-2 btn-update">Cập nhật</button>
                                                    </form>
                                                    <a asp-action="RemoveFromCart" asp-route-productId="@item.ProductId" class="btn btn-danger btn-sm">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <p class="mt-2">
                                                Giá: @{
                                                    var totalPrice = item.Price * item.Quantity / item.Unit;
                                                } @totalPrice.ToString("N0")Đ
                                            </p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-block btn-lg" asp-controller="ShoppingCart" asp-action="Checkout">
                            <div class="d-flex justify-content-between">
                                <span>@Model.GetTotalPrice().ToString("N0")Đ</span>
                                <span>Thanh toán <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .btn-update {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
    }
</style>
