@model Elixir.Models.Post

@{
    ViewData["Title"] = "Details";
}
<div class="card-body">

    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <img src="@Model.PostImage" class="card-img-top rounded" alt="Ảnh minh họa" style="max-width: 100%; max-height: 300px; object-fit: contain; border-radius: 10px;">
            </div>
            <div class="col-md-8">
                <h2 class="card-title">@Html.DisplayFor(model => model.Title)</h2>
                <p class="card-text"> @Html.DisplayFor(model => model.ShortContent)</p>
                <p class="card-text"> @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))</p>   
                <p class="card-text"><strong>Tác giả:</strong> @Html.DisplayFor(model => model.Author)</p>
                <p class="card-text"><strong>Ngày tạo:</strong> @Html.DisplayFor(model => model.DateCreate)</p>
                
            </div>
        </div>
        <a asp-controller="Posts" asp-action="Index" class="btn btn-primary rounded-pill py-2 px-4 m-2"><i class="fa fa-arrow-left ms-2">Return</i></a>
    </div>
</div>
<div class="card-footer text-center">
</div>